  <div class="d-flex justify-content-center">
  <div class="card" id="shortlist-gift-<%= session_gift.id %>">
    <div class="card-horizontal">
      <img class="card-img card-img-left" src=<%= session_gift.gift.image %> alt="image of <%= session_gift.gift.title %>" width="240px">
      <div class="card-body">
        <h5 class="card-title text-truncate"><%= session_gift.gift.title %></h5>
        <p class="card-text text-truncate"><%= session_gift.gift.description %></p>
        <p class="card-price">£<%= session_gift.gift.price %></p>
        <%= link_to 'Remove', session_gift_path(session_gift), method: :delete, remote: true %>
        <%= link_to "It's the one!", session_gift_path(session_gift) %>
      </div>
    </div>
  </div>
</div>
