<div class="gift-row" id="gift-<%= gift.id %>" >
  <%= link_to " ",
        shortlist_session_gifts_path(@shortlist, gift_id: gift.id , added: 'false'), method: :post, remote: true, class: "fas fa-times button-reject gift-selector gift-selector-reject nope" %>
  <div class="gift">
    <div class="gift-card">
      <img class="gift-img gift-img-top" src=<%= gift.image %>>
      <div class="gift-details">
        <p class="gift-price">£<%= gift.price %></p>
        <h5 class="gift-title"><%= gift.title %></h5>
        <p class="gift-category"><%= gift.main_category %></p>
      </div>
    </div>
  </div>
  <%= link_to " ",
          shortlist_session_gifts_path(@shortlist, gift_id: gift.id , added: 'true'), method: :post, remote: true, class: "fas fa-heart button-accept gift-selector gift-selector-accept love" %>
</div>

<!--<% 'hidden' if first == 'false' %> -->
