<%= link_to shortlist_gifts_path(shortlist), class: "link-style" do %>
  <div class="shortlist-recipient-card">
    <div class="shortlist-recipient-card-info">
        <h2><%= shortlist.recipient_name %></h2>
        <p>Created on <%= shortlist.created_at.strftime("%A, %e %B %Y") %></p>
        <% shortlist.gifts.each do |gift | %>
        <img class="shortlist-image-gift" src=<%= gift.image %> alt= <%= gift.title %>>
        <% end %>
      </div>
    <div class="shortlist-delete-edit">
      <ul class="list-inline">
        <li class="list-inline-item"><%= link_to raw('<i class="fas fa-trash-alt"></i>'), shortlist_path(shortlist), method: :delete, class: "shortlist-recipient-trash-btn" %></li>
        <li class="list-inline-item"><%= link_to raw('<i class="far fa-edit"></i>'), edit_shortlist_path(shortlist), class: "shortlist-recipient-edit-btn" %></li>
      </ul>
    </div>
  </div>
<% end %>
