<body style="background-image: url('https://wallpaperaccess.com/full/666718.jpg')">


  <div id="gift-main-display">
    <h2 class="text-center" id="message">Start swiping on gifts!</h2>
    <%# <%= @shortlist.user.first_name %>
    <div class="gift-display">
      <div class="gift-cards">
        <% @gifts.each_with_index do |gift, index| %>
          <% if index == 0 %>
            <%= render 'components/gift_card', gift: gift, first: 'true' %>
          <% else %>
            <%= render 'components/gift_card', gift: gift, first: 'false' %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="pt-3 shortlist-choice row row-center">
      <div id = "shortlist-button-container" class=<%= "shortlist-btn-hide" if @shortlist.gifts.length == 0%>>
        <a class="button_shortlist" id= "shortlist-button">Wishlist</a>
        <a id = "shortlist-counter"><%= @shortlist.gifts.length %></a>
      </div>
    </div>
  </div>


  <img src=<%= image_url('Scissors.png') %> id="scissors">

  <img id = "ribbon" src=<%= image_url('Wrapping_paper.png') %>>
  <img id = "giftbox1" src=<%= image_url('Gift_1.png') %>>

  <div id="shortlist-display" class= "container list-container" hidden>
    <div class="shortlist-choice row row-center">
      <a class="button_shortlist keep-looking" id= "gifts-button">Keep Looking </a>
    </div>
    <div id="shortlisted-gifts" class="shortlist-show mb-3">
      <% @shortlist.session_gifts.each do |session_gift| %>
        <div> <%= render 'components/shortlist_card', session_gift: session_gift %></div>
      <% end %>
    </div>
  </div>




<%= javascript_pack_tag 'card_swipe.js' %>
<%= javascript_pack_tag 'shortlist_swipe.js' %>
</body>
